<%- layout('layouts/main.ejs') %>

<h1>Mi Perfil</h1>

<ul class="list-group">
        <li class="list-group-item"><%= user.username %></li>
        <li class="list-group-item"><%= user.email %></li>
        <li class="list-group-item"><%= user.name %></li>
        <li class="list-group-item"><%= user.lastname %></li>
        <li class="list-group-item"><%= user.phone %></li>
        <li class="list-group-item"><%= user.dni %></li>
        <li class="list-group-item"><%= user.direccion %></li>

        <li class="list-group-item"><%= user.especialidad %></li>
      </ul>

