<%- layout('layouts/perfilLayout.ejs') %>
<br>
<h1>Mi Perfil <% if (user.especialidad) {%> - Usuario tipo técnico <%}else{%> - Usuario tipo cliente <%}%></h1>

<ul class="list-group">
        <li class="list-group-item"><img src="image/icono-username-b.png" width="30px"><%= user.username %></li>
        <li class="list-group-item"><img src="image/icono-correo-b.png" width="30px"><%= user.email %></li>
        <li class="list-group-item"><img src="image/icono-usuario-b.png" width="30px"><%= user.name %></li>
        <li class="list-group-item"><img src="image/icono-usuario-b.png" width="30px"><%= user.lastname %></li>
        <li class="list-group-item"><img src="image/icono-telefono-b.png" width="30px"><%= user.phone %></li>
        <li class="list-group-item"><img src="image/icono-dni-b.png" width="30px"><%= user.dni %></li>
        <li class="list-group-item"><img src="image/icono-direccion-b.png" width="30px"><%= user.direccion %></li>

        <% if (user.especialidad) {%>
        <li class="list-group-item"><img src="image/icono-usuario-b.png" width="30px"><%= user.especialidad %></li>  
        <li class="list-group-item"><img src="image/icono-usuario-b.png" width="30px">Mi valoración: <%= parseFloat(user.valoracion).toFixed(1) %></li>  
        <li class="list-group-item">
            <% if(user.foto) {%>
                  Tu perfil tiene una foto - 
            <% }else{ %>
                  Tu perfil no tiene foto! -
            <% } %>     
            <a href="/setfoto">Elegir foto</a>
      </li>
      <li class="list-group-item">

            <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="monto de servicio" aria-label="monto de servicio" aria-describedby="basic-addon2" id="montoid">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">$ x hora</span>
                  </div>
                </div>

      </li>
        <% } %>
</ul>
<br>

<% if (user.especialidad) {%>
<div class="alert alert-danger collapse" role ="alert" id="ingreseSoloNumeros">
      Ingrese solo números!
</div>
<div class="alert alert-danger collapse" role ="alert" id="ingreseMayores0">
      Monto debe ser mayor a 0!
</div>

<h2>Técnico - Ubicación</h2>
<button type="button" class="btn btn-primary btn-lg btn-block" onclick = "activarUbicacion()">Activar ubicación</button>
<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="desactivarUbicacion()">Desactivar ubicación</button>
<br>
            <% if (user.lat) {%> 
                  <h3>Compartiendo ubicación: <div style="color:greenyellow">ACTIVADO</div><%= user.amount %>$</h3>
            <% } else { %>  
                  <h3>Compartiendo ubicación: <div style="color:red">DESACTIVADO</div></h3>
            <% } %>      
<br>
<br>
      <% if (pedidos.length > 0) { %>
      <h2>Pedidos pendientes de clientes</h2>
      <div class="alert alert-success collapse" role="alert" id="pedidoAceptado">
            El pedido ha sido aceptado. Se moverá a su registro de pedidos aceptados.
          </div>
          <div class="alert alert-warning collapse" role="alert" id="pedidoEliminado">
            El pedido ha sido eliminado.
          </div>
      <table class="table table-dark">
            <thead>
                  <tr>
                  <th scope="col">Pedido de</th>
                  <th scope="col">Status</th>
                  <th scope="col">Acción</th>
                  <th scope="col">Cancelar</th>
                  </tr>
            </thead>
            <tbody>
                  <% pedidos.forEach(function(pedido) { %>
                  <% if(pedido.pedidoA == user.username && pedido.status == "requested") { %>
                        <tr>
                        <td><%= pedido.pedidoDe %></td>
                        <td><%= pedido.status %></td>
                        <td><a class="btn btn-primary aceptar" onclick="aceptar('<%= pedido.id %>')">Aceptar</a></td>
                        <td><a class="btn btn-danger red eliminar" onclick="eliminar('<%= pedido.id %>')">Cancelar Servicio</a></td>
                        </tr>
                  <% }}) %>       
            </tbody>
      </table>

      <% } %>  
<% } %>  

<br> 
<br>



