<%- layout('layouts/pedidosLayout.ejs') %>
<br>
<h1>Historial de servicios aceptados</h1>
      <script>
            function abrir(id){
                  $("."+id).collapse('toggle');
            }

            function facturar(id){
                  monto = parseFloat(document.getElementById('monto-'+id).value)
                  $.ajax({
                        url: '/servicios/facturarServicio',
                        type: 'PUT',
                        data: "id=" + id + "&monto=" + monto
                  })
            alert("Monto facturado por "+monto+"$")
            }

            function calcPrecio(id, monto){
                  horas = parseFloat(document.getElementById("hora-"+id).value);
                  extras = parseFloat(document.getElementById("extra-"+id).value);
                  if(horas > 0 && extras >= 0){
                        document.getElementById('monto-'+id).value = horas * parseFloat(monto) + extras
                  }                  
            }
      </script>  
<table class="table table-dark">
        <thead>
              <tr>
              <th scope="col">Pedido de</th>
              <th scope="col">Status</th>
              <th scope="col">Número</th>
              <th scope="col">Acción</th>              
              <th scope="col">Cancelar</th>
              </tr>
        </thead>
        <tbody>
              <% pedidos.forEach(function(pedido) { %>
              <% if(pedido.pedidoA == user.username && (pedido.status == 'aceptada' || pedido.status == 'terminada' || pedido.status == 'pagada')) { %>
                    <tr>
                    <td><%= pedido.pedidoDe %></td>
                    <td><%= pedido.status %></td>
                    <td><%= pedido.telefono %></td>
                    
                    <% if(pedido.status == 'aceptada') { %>
                        <td> <button type="button" class="btn btn-primary" onclick="abrir('<%= pedido.id %>')">Facturar servicio</button> 
                              <div class="collapse <%= pedido.id %>">
                                          <h3>Detalles de pedido</h3>
                                          <b>ID Pedido:</b> <%= pedido.id %> <br>
                                          <b>Monto por hora pactado: </b> <%= pedido.amount %><br>
                                          <b>Horas de servicio: </b><input type="number" id="hora-<%=pedido.id%>" onchange="calcPrecio('<%= pedido.id %>', '<%= pedido.amount %>')">horas<br>
                                          <b>Costos extras:</b><input type="number" id="extra-<%=pedido.id%>" onchange="calcPrecio('<%= pedido.id %>', '<%= pedido.amount %>')">$<br>
                                          <b>Monto final:</b><input type="text" id="monto-<%=pedido.id%>" readonly>$<br>
                                          <button type="button" class="btn btn-warning" onclick="facturar('<%=pedido.id%>')">Facturar</button>
                                    </div>                        
                        </td>

                    <% }else if(pedido.status == 'terminada'){ %>
                        <td>Esperando pago...</td>
                    <% }else{ %>
                        <td>Servicio pagado!</td>
                    <% } %>
                    <% if(pedido.status == 'aceptada' || pedido.status == 'terminada'){ %>
                    <td><a class="btn btn-danger red eliminar" onclick="cancelarServicio('<%= pedido.id %>')">Cancelar Servicio</a></td>
                    <% } else { %>
                    <td><a class="btn btn-danger red eliminar" onclick="eliminarServicio('<%= pedido.id %>')">Eliminar Servicio</a></td> 
                    <% } %> 
                    </tr>
              <% }}) %>       
        </tbody>
  </table>